<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Future Homes</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creative.min.css" rel="stylesheet">

</head>

<link rel="shortcut icon fa fa-home" type="image/x-icon" href="img/favicon.png">

<body id="page-top">
<div class="fixed-top">
<div class="navbar navbar-expand-lg navbar-light" id="mainNav2"> Disclaimer: This is not a real website. This is a project for San Francisco State University's Software Engineering class.</div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav2">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Future Homes</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/fa17g10/login">log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/fa17g10/signup">sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">

      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
                    <strong> Search for Your Future</strong>
                </h1>
          <form method ="GET">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" class="form-control form-control-lg" name="searchValue" placeholder="Enter a city or zip code...">
              </div>
              <div class="col-12 col-md-3">
                <!-- <a class="btn btn-block btn-lg btn-primary" href="/fa17g10/listings/searchResults">Search!</a> -->
                <input type="submit" class="btn btn-block btn-lg btn-primary" value="Search" formaction="/fa17g10/listings/searchResults"></input>
              </div>
            </div>
          </form>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Future Homes is dedicated to finding you a beautiful home. Our registered real-estate agents provide us with many new homes up for your viewing. If you are interested in a home, you can message the real-estate agent.</p>

        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <!-- Team Members Row -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container -align-center">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Our Team!</h2>
          <hr class="my-4">
          <p class="mb-5">This website was made by San Francisco State University students for our software engineering class.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 team-box">
          <div class="rounded-circle img-fluid d-block mx-auto">
            <img src="/fa17g10/teamImages/raymie.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Raymie Michael</h3>
              <div class="border-team"></div>
              <p>Team Lead</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="ray-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="ray-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="ray-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 team-box">
          <div class="team-img thumbnail">
            <img src="/fa17g10/teamImages/justin.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Justin Zhu</h3>
              <div class="border-team"></div>
              <p>Back End Lead</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="jus-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="jus-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="jus-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 team-box">
          <div class="team-img thumbnail">
            <img src="/fa17g10/teamImages/peter.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Peter Cruz</h3>
              <div class="border-team"></div>
              <p> Back End Developer</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="pet-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="pet-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="pet-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 team-box">
          <div class="team-img thumbnail">
            <img src="/fa17g10/teamImages/sohaib.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Sohaib Syed</h3>
              <div class="border-team"></div>
              <p>Front End Lead</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="soh-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="soh-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="soh-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 team-box">
          <div class="team-img thumbnail">
            <img src="/fa17g10/teamImages/dilraj.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Dilraj Singh</h3>
              <div class="border-team"></div>
              <p> Front End Developer</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="dil-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="dil-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="dil-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 team-box">
          <div class="team-img thumbnail">
            <img src="/fa17g10/teamImages/mrinalini.jpg" width="200" height="200">
            <div class="team-content">
              <h3>Mrinalini Garre</h3>
              <div class="border-team"></div>
              <p>Full Stack Developer</p>
              <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="mri-social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="mri-social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/"><i id="mri-social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Contact Us!</h2>
          <hr class="my-4">
          <p class="mb-5">For any questions or concerns, feel free to call or email.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
          <p>(415)-555-6789</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="mailto:your-email@your-domain.com">FutureHomes@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Are you a real-estate agent?</h2>
      <h4 class="mb-4">Register to post your listings on our website!</h4>
      <a class="btn btn-light btn-xl sr-button" href="/fa17g10/signup">Sign Up!</a>
    </div>
  </section>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>

</body>

</html>
