<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Future Homes-Sign Up</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creative.min.css" rel="stylesheet">

</head>
<link rel="shortcut icon fa fa-home" type="image/x-icon" href="img/favicon.png">
<body id="page-top">
<div class="fixed-top">
<div class="navbar navbar-expand-lg navbar-light" id="mainNav2"> Disclaimer: This is not a real website. This is a project for San Francisco State University's Software Engineering class.</div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav2">
    <div class="container">
      <a class="navbar-brand" href="/fa17g10/">Future Homes</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
                    <a class="nav-link" href="home.ejs/#about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="home.ejs/#contact">contact</a>
                </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/fa17g10/login">log in</a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link" href="about.ejs">sign up</a>
                </li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

    <form class="form-signin" method="POST">
        <header class="text-center text-white">
        <h3 class="text-uppercase text-center">
            <strong> Welcome!</strong>
        </h3>

    </header>
        <input type="text" name="first_name" class="form-control" placeholder="Name">
        <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="password" name="pass" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/fa17g10/signup/createNewAccount">
            Sign Up
        </button>
    </form>

</div>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>

</body>

</html>
